#
# Canvas management driver configuration
#

menu "AMLOGIC Canvas management driver"

config AM_CANVAS
    bool "AMLOGIC Canvas management driver"
    default y
	help
	  Select to enable Canvas management driver.

endmenu
