
menu "Amlogic Power Management Support"

config AMLOGIC_PM
	bool "Amlogic Power support"
	select POWER_SUPPLY
	default n
	help
	  Say Y here if you want to use the amlogic power management.

config SMBA10XX_BATTERY
	boolean "SMBA10XX battery driver support"
	depends on I2C_AML
	default n
	help
	  Say Y if you want to add battery driver supoort for SMBA10XX
	  
config BQ27x00_BATTERY
	bool "BQ27x00 Battery support"
	select POWER_SUPPLY
	depends on I2C_AML	
	default n
	help
	  Say Y here if you want to add battery driver supoort for bq27x00.

source "drivers/amlogic/power/act8xxx_pmu/Kconfig"
source "drivers/amlogic/power/axp_power/Kconfig"
endmenu
