
menu "Amlogic USB Support"

config USB_DWC_OTG_HCD
        bool "Amloigc usb host controler dwc_otg support"

        help
           usb dwc_otg

config USB_HOST_ELECT_TEST
				bool "USB High speed electric test support"
				depends on USB_DWC_OTG_HCD
				default y
				help
					Enable this config to support USB High speed electric test.
					
			
config DWC_USB_NAK_IN_TIMER
				bool "Disable DWC OTG USB NAK ISR"
				depends on USB_DWC_OTG_HCD
				default n
				help
					[y]Enalbe this config to disable DWC OTG USB NAK interrupt handler.
						 The handler is moved to timer.
					[n]Disable this config to let NAK handler in interrupt.
					Don't change this if you don't know what it is.
					
config USB_PHY_CONTROL
				bool "Amlogic usb controller power/clock/tuning control"
				default y
				help
					[y]Enalbe this config to use additional function that
						 control amlogic usb controller's power, clock, tuning and others..
					[n]Disable this config to disable this function.
endmenu
