#
# Amlogic NAND device configuration
#

menu "AMLOGIC NAND Flash support"

config AM_NAND
	bool "Amlogic NAND FLASH M1/M2/M3 SUPPORT"
	    depends on AMLOGIC_SERIES
	default y
        select MTD_NAND 
	    select MTD_PARTITIONS
        select MTD_BLOCK
        select MTD_CHAR
        help
		This is Meson_M1 nand suport

config AM_NAND_RBPIN
	bool "use nand rbpin (A3/M3 optional)"
	    depends on AM_NAND
	default y
	
config AML_NAND_ENV
	bool "use aml nand env (/dev/nand_env)"
	    depends on AM_NAND
	default y
				
config AML_NFTL
	tristate "Amlogic NFTL (NAND Flash Translation Layer) support"
	depends on (AM_NAND)
	default m
        help
		This is aml nftl suport
endmenu
