#
# Input device configuration
#

menu "Amlogic Input device support"

source "drivers/amlogic/input/irremote/Kconfig"

source "drivers/amlogic/input/saradc/Kconfig"

source "drivers/amlogic/input/adc_ts/Kconfig"

source "drivers/amlogic/input/adc_keypad/Kconfig"

source "drivers/amlogic/input/key_input/Kconfig"

source "drivers/amlogic/input/touch_screen/Kconfig"

source "drivers/amlogic/input/touch_keypad/Kconfig"

source "drivers/amlogic/input/vfd/Kconfig"

source "drivers/amlogic/input/irreceiver/Kconfig"

endmenu

